fastapi
uvicorn[standard]
SQLAlchemy>=2.0
pydantic>=2
python-dotenv
pymysql
psycopg[binary]
email-validator

# --- CI / Dev tools ---
ruff
black
mypy
pytest
pytest-cov


# Auth
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
